@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
html {
  font-family: "Shadows Into Light", cursive;
  font-size: 150%;
  background-color: #add5f7;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/tapestry.png");
}
.header {
  margin-top: 3%;
}
.button {
  margin: 8% 1% 8% 1%;
}
.footer {
  margin-top: 7%;
}
